@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  background-color: black;
  margin: 0;
  height: 400vh;
}

@media screen and (max-width: 991px) {
  body {
    height: auto !important; 
  }

  div {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
}

span, object, img {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  -webkit-user-drag: none;
}

span {
  font-family: 'Inter', 'sans-serif';
  color: white;
}

#blob-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vh;
  height: 70vh;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 2vh 2vw;
}

#cappee {
  position: relative;
  left: 1vw;
  font-size: 3vw;
  font-weight: 600;
}

#menu {
  position: relative;
  width: 2vw;
}

#menu:active {
  top: 1px;
}

#blob-2 {
  position: absolute;
  top: 110vh;
  left: 0;
  height: 70vh;
  width: 64vh;
}

#blob-3 {
  position: absolute;
  bottom: -300vh;
  right: 0;
  height: 125vh;
}

#designed-by {
  position: absolute;
  bottom: -300vh;
  left: 0;
  margin: 1vw 1vw;
}

#circle-1-1 {
  position: absolute;
  top: 22vh;
  left: 20vw;
  width: 8vw;
  height: 8vw;
}

#circle-1-2 {
  width: 30vw;
  height: 30vw;
}

#circle-1-2-group {
  position: absolute;
  top: 25vh;
  left: 18vw;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
} 

#drawer {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8B1111;
  overflow-x: hidden;
  transition: 0.75s;
  transition-timing-function: cubic-bezier(.18,.57,.59,.94);
}

#close {
  position: absolute;
  top: 4vh;
  left: 2vw;
  width: 2vw;
}

#close:active {
  top: calc(4vh + 1px);
}